/**
 * BASE SIZE
 * All calculations are based on this. It’s recommended that
 * you keep it at 1rem because that is the root font size. You
 * can set it to whatever you like and whatever unit you like.
 */
$base-size: 1rem;

/**
  * SIZE SCALE
  * This is a Major Third scale that powers all the utilities that
  * it is relevant for (font-size, margin, padding). All items are
  * calcuated off the base size, so change that and cascade across
  * your whole project.
  */
$size-scale: (
  '50': $base-size * 0.4,
  '100': $base-size * 0.45,
  '200': $base-size * 0.6,
  '300': $base-size * 0.8,
  '400': $base-size,
  '500': $base-size * 1.33,
  '600': $base-size * 1.77,
  '700': $base-size * 2.4,
  '800': $base-size * 3.19,
  '900': $base-size * 4.25
);

/**
  * CORE CONFIG
  * This powers everything from utility class generation to breakpoints
  * to enabling/disabling pre-built components/utilities.
  */
$gorko-config: (
  'font': (
    'items': (
      'base': '"Roboto", Helvetica, Arial, sans-serif',
      'serif': '"EB Garamond", serif',
      'mono': 'Courier New, Courier, monospace'
    ),
    'output': 'standard',
    'property': 'font-family'
  ),
  'gap-top': (
    'items': $size-scale,
    'output': 'standard',
    'property': 'margin-top'
  ),
  'pad-top': (
    'items': $size-scale,
    'output': 'standard',
    'property': 'padding-top'
  ),
  'text': (
    'items': $size-scale,
    'output': 'responsive',
    'property': 'font-size'
  ),
  'weight': (
    'items': (
      'light': '300',
      'medium': '500',
      'bold': '700'
    ),
    'output': 'standard',
    'property': 'font-weight'
  ),
  'breakpoints': (
    'md': '(min-width: 48em)'
  )
);
