.keyline {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1.2;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: var(--metric-keyline-gap, 1em);
  align-items: center;
  width: 100%;
}

.keyline::before,
.keyline::after {
  content: '';
  height: var(--metric-keyline-height, 0.1em);
  --pbg: hsl(var(--ph, var(--h)), 100%, var(--lc, var(--l)));
  background-color: var(--pbg, var(--bg, var(--bg-default)));
  transform: translateY(calc(var(--metric-keyline-height, 0.1em) * -0.01));
}

.keyline > * {
  max-width: 37ch;
}
