.btn,
*[role='button'] {
  @extend .radius;

  font: inherit;
  cursor: pointer;
  color: #fefefe;
  display: inline-block;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  border: 1px solid var(--bb, transparent);
  text-shadow: 0.5px solid var(--bb, transparent);
  padding: 0.6rem 1.5rem;
  margin: 0.5em;
  position: relative;

  @include apply-utility('weight', 'bold');

  &:focus {
    outline-offset: -0.4rem;
    outline: 1px solid;
  }

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    transform: scale(0.97);
  }
}

.btn.info {
  background-color: hsl(var(--info), 100%, 50%);
  --bb: hsl(var(--info), 100%, 25%);
}
.btn.success {
  background-color: hsl(var(--success), 100%, 50%);
  --bb: hsl(var(--success), 100%, 25%);
}
.btn.warning {
  background-color: hsl(var(--warning), 100%, 50%);
  --bb: hsl(var(--warning), 100%, 25%);
}
.btn.danger {
  background-color: hsl(var(--danger), 100%, 50%);
  --bb: hsl(var(--danger), 100%, 25%);
}
